body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #a7a7a7;
    width: 500px;
    height: 1000px;
}

.display > .current{
    height: 100px;
    background-color: #434343;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 50px;
    padding: 0 50px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.operators{
    display: flex;
    flex-direction: column;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    justify-content: center;
}


button{
    width: 100px;
    height: 100px;
}